@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --duolingo: #58CC05;

  --accent-primary: #1DB0F6;
  --accent-secondary: #1999D6;
  --foreground-primary: #000000;
  --foreground-secondary: #52656D;
  --primary: #FFFFFF;
  --secondary: #F7F7F7;
  --tertiary: #E5E5E5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-primary: #49C0F8;
    --accent-secondary: #1999D6;
    --foreground-primary: #FFFFFF;
    --foreground-secondary: #AFAFAF;
    --primary: #131F24;
    --secondary: #202F36;
    --tertiary: #37464F;
  }
}

body {
  color: var(--foreground-primary);
  background: var(--primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button-shadow {
  margin-bottom: 5px;
  margin-top: 0px;
  box-shadow: 0 5px 0px 0 var(--accent-secondary);
}

.button-shadow:active {
  margin-bottom: 0px;
  margin-top: 5px;
  box-shadow: 0 0px 0px 0 var(--accent-secondary);
}